.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    margin-top: 50px;
    background-color: gray;
    color: lightgray;
    padding-bottom: .5vw;
    bottom: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.topnav{
    overflow: hidden;
    background-color: #000;
    margin-bottom: 50px;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}

#facebook{
    text-decoration: none;
}

.topnav a.active{
    background-color: #000;
    color:white;
}

.topnav .icon{
    display: none;
}

.logo{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-bottom: 50px;
}

/*
.title{
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #000;
    margin-bottom: 100px;
}
*/

.mySlides {
      display:none;
}
.column {
    float: left;
    width: 27.33%;
    margin: 3%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding-bottom: 30px;
}

.column_title{
    font-size: 50px;
}

.column_text{
    font-size: 20px;
    margin: 25px;
}

.column_links{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

.about{
    margin: 100px;
    font-size: 20px;
}

table{
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    width: 25em;
}

iframe{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

.prices_title{
    font-size: 5em;
    padding-bottom: 100px;
}

.paragraph{
    padding-bottom: 20px;
}

.contact_column {
    padding-top: 20px;
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 30px;
}
#figyelem_arak{
    padding-left: 5em;
    padding-right: 5em;
    font-size: x-large;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a.icon {
      float: right;
      display: block;
    }
    
    .topnav.responsive{
        position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .logo{
        width: 375px;
    }
    table{
        margin-left: auto;
        margin-right: auto;
        font-size: medium;
        width: 20em;
        padding-bottom: 2em;
    }
    .prices_title{
        font-size: 2em;
        padding-bottom: 100px;
    }
    #figyelem_arak{
        font-size: medium;
    }

@media screen and (max-width:900px) {
    .column {
        margin: 5%;
        width: 90.33%;
        margin-bottom: 100px;
    }
    .contact_column{
        width: 100%;
    }
    /*
    table{
        margin-left: auto;
        margin-right: auto;
        font-size: x-large;
        width: 50em;
    }
    */
}
}

/*
@media screen and (max-height:1080px){
    table{
        padding-bottom: 10em;
    }
}
*/